/* Fullscreen Mode Styles */
body.updated-full-mode {
	overflow: hidden;
}

body.updated-full-mode #movie_player {
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	width: 100vw !important;
	height: 100vh !important;
	z-index: 1000 !important;
}

body.updated-full-mode .ytp-progress-bar-container {
	visibility: visible !important;
}

body.updated-full-mode #masthead-container,
body.updated-full-mode .ytp-chrome-bottom {
	display: none !important;
}

body.updated-full-mode ytd-comments {
	display: none !important;
}
